*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

/*******HEADER*******************/

/*********HEADER NAV ************/

header nav{
    position:relative;
}

header nav .menu-nav{
    width: 100%;
    height: 70px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.menu-nav .item-nav{
    cursor: pointer;
    padding:10px 15px;
}

.item-nav.active{
    display:block;
}

.menu-nav .item-nav a{
    font-size: 1.1rem;
    display:block;
    color:white;
}

.menu-nav-toggle{
    cursor: pointer;
    position:absolute;
    width: 40px;
    height: 40px;
    top:15px;
    left:10px;
    display:none;
}

.menu-nav-toggle img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:900px){
    .menu-nav-toggle{
        display: block;
    }

    .item-nav{
        display:none;
    }

    nav{
        border-bottom:1px solid white;
        background-color: #333; 
    }

    nav .item-nav.active{
        display:block;
        text-align: center;
        padding-top:40px;
    } 

    nav .item-nav.active a:hover{
        transform: scale(1.15);
        transition:0.2s;
    } 
    
    nav .menu-nav.active{
        transition : 0.5s;
        display:block;       
        height: 450px;
        flex-direction: column;
    }

}

/*********HEADER-CONTENT************/

header .content-header{
    width: 100%;
    min-height: 500px;
    background: url('../ressources/header/arbre_de_vie.jpg') center / cover;
    clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
    display:flex;
    justify-content: center;
    align-items: center; 
}

header .content-header .content-header-desc{
    /* text-align: center; */
    width: 60%;
    height: 300px;
    color:white;
    display:flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

header .content-header .content-header-desc h1{
    font-size: 4rem;
    border-bottom: 1px solid white;
}

header .content-header .content-header-desc h1::first-letter{
    color:crimson;
}

header .content-header .content-header-desc h2{
    font-size: 2rem;
}

header .content-header .content-header-desc h2::first-letter{
    color:crimson;
}

@media screen and (max-width:900px){

    header .content-header .content-header-desc h1{
        font-size: 2.8rem;
    }
    header .content-header .content-header-desc h2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:650px){

    header .content-header .content-header-desc h1{
        font-size: 2.1rem;
    }
    header .content-header .content-header-desc h2{
        font-size: 1.2rem;
    }
}

/**************PRESENTATION*******************/

#presentation{
    padding-bottom: 20px;
}

#presentation .presentation-content{
    display:flex;
    flex-wrap: wrap;
    gap : 40px;
    width: 90%;
    min-height:450px;
    margin:100px auto;
    padding:40px;
    border: 2px dashed black;
}

#presentation .presentation-content .presentation-txt{
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

#presentation .presentation-content .presentation-txt h2{
    font-size: 2rem;
    text-align: center;
    padding: 20px 0px;
}

#presentation .presentation-content  .presentation-txt h2::first-letter{
    color:crimson;
}

#presentation .presentation-content .presentation-txt p{
    font-size:1.3rem;
    text-align: justify;
}

#presentation .presentation-content .presentation-img{
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
}

#presentation .presentation-content .presentation-img img{
    width: 100%;
    height : 100%;
}


@media screen and (max-width:900px){

    #presentation .presentation-content .presentation-txt p{
        font-size: 1rem;
    }

    #presentation .presentation-content .presentation-txt h2{
        font-size: 1.5rem;
    }

    #presentation .presentation-content .presentation-txt,
    #presentation .presentation-content .presentation-img{
        flex-basis: 100%;
    }
    
}

@media screen and (max-width:650px){

    #presentation .presentation-content .presentation-txt p{
        font-size: 1rem;
    }

    #presentation .presentation-content .presentation-txt h2{
        font-size: 1.2rem;
    }
    
}


/******************SAVONS**********************/

#savons{
    border-top: 1px dashed black;
    padding: 40px 0px 20px 0px;
}

#savons h3{
    font-size: 2rem;
    text-align: center;
}
#savons h3::first-letter{
    color:crimson;
}

#savons .container-savons{
    width: 90%;
    margin: 100px auto;
    min-height: 800px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}

#savons .container-savons .savons-card{
    width: 30%;
    min-height: 350px;
    background-color: #333;
    box-shadow: 2px 3px 10px black;
}

#savons .container-savons .savons-card:hover{
    box-shadow: 4px 6px 20px black;
    transition : 0.2s
}

#savons .container-savons .savons-card .savons-card-img{
    height: 60%;
    width: 100%;
}

#savons .container-savons .savons-card .savons-card-img img{
    width: 100%;
    height: 100%;
}

#savons .container-savons .savons-card .savons-card-desc{
    height:25%;
    width: 100%;
    padding:10px 10px 2px 10px;
   
}

#savons .container-savons .savons-card .savons-card-desc p{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 15px; 
    color:white; 
    text-align: center;
}

#savons .container-savons .savons-card .savons-card-price{
    width: 100%;
    height: 15%;
    text-align: center;border-top: 1px solid black;
}

#savons .container-savons .savons-card .savons-card-price .price{
    color:white;
    line-height: 52.5px;
}

@media screen and (max-width:900px){

    #savons h3{
        font-size: 1.5rem;
    }

    #savons .container-savons .savons-card{
        width: 50%;
    }
    
}

@media screen and (max-width:650px){

    #savons h3{
        font-size: 1.5rem;
    }

    #savons .container-savons .savons-card{
        width: 80%;
    }
    
}


/*****************Bougies*****************/

#bougies{
    border-top: 1px dashed black;
    padding: 40px 0px 20px 0px;
}

#bougies h3{
    font-size: 2rem;
    text-align: center;
}
#bougies h3::first-letter{
    color:crimson;
}

#bougies .container-bougies{
    width: 90%;
    margin: 100px auto;
    min-height: 800px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

#bougies .container-bougies .bougies-card{
    width: 30%;
    min-height: 350px;
    background-color: #333;
    box-shadow: 2px 3px 10px black;
}

#bougies .container-bougies .bougies-card:hover{
    box-shadow: 4px 6px 20px black;
    transition : 0.2s;
}

#bougies .container-bougies .bougies-card .bougies-card-img{
    height: 60%;
    width: 100%;
}

#bougies .container-bougies .bougies-card .bougies-card-img img{
    width: 100%;
    height: 100%;
}

#bougies .container-bougies .bougies-card .bougies-card-desc{
    height:25%;
    width: 100%;
    padding:10px 10px 2px 10px;
}

#bougies .container-bougies .bougies-card .bougies-card-desc p{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 15px;
    color:white;
    text-align: center;
}

#bougies .container-bougies .bougies-card .bougies-card-price{
    width: 100%;
    height: 15%;
    text-align: center;border-top: 1px solid black;
}

#bougies .container-bougies .bougies-card .bougies-card-price .price{
    color:white;
    line-height: 52.5px;
}

@media screen and (max-width:900px){

    #bougies h3{
        font-size: 1.5rem;
    }

    #bougies .container-bougies .bougies-card{
        width: 50%;
    }
    
}

@media screen and (max-width:650px){

    #bougies h3{
        font-size: 1.5rem;
    }

    #bougies .container-bougies .bougies-card{
        width: 80%;
    }
    
}

/********************FONDANTS********************/

#fondant{
    border-top: 1px dashed black;
    padding: 40px 0px 20px 0px;
}

#fondant h3{
    font-size: 2rem;
    text-align: center;
}
#fondant h3::first-letter{
    color:crimson;
}

#fondant .container-fondant{
    width: 90%;
    margin: 100px auto;
    min-height: 800px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

#fondant .container-fondant .fondant-card{
    width: 30%;
    min-height: 350px;
    background-color: #333;
    box-shadow: 2px 3px 10px black;
}

#fondant .container-fondant .fondant-card:hover{
    box-shadow: 4px 6px 20px black;
    transition : 0.2s;
}

#fondant .container-fondant .fondant-card .fondant-card-img{
    height: 60%;
    width: 100%;
}

#fondant .container-fondant .fondant-card .fondant-card-img img{
    width: 100%;
    height: 100%;
}

#fondant .container-fondant .fondant-card .fondant-card-desc{
    height:25%;
    width: 100%;
    padding:10px 10px 2px 10px;
}

#fondant .container-fondant .fondant-card .fondant-card-desc p{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 15px;
    color:white;
    text-align: center;
}

#fondant .container-fondant .fondant-card .fondant-card-price{
    width: 100%;
    height: 15%;
    text-align: center;
    border-top: 1px solid black;
}

#fondant .container-fondant .fondant-card .fondant-card-price .price{
    color:white;
    line-height: 52.5px;
}

@media screen and (max-width:900px){

    #fondant h3{
        font-size: 1.5rem;
    }

    #fondant .container-fondant .fondant-card{
        width: 50%;
    }
    
}

@media screen and (max-width:650px){

    #fondant h3{
        font-size: 1.5rem;
    }

    #fondant .container-fondant .fondant-card{
        width: 80%;
    }
    
}


/**********************SOINS**********************/

#soin{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 40px 0px 20px 0px;
}

#soin h3{
    font-size: 2rem;
    text-align: center;
}
#soin h3::first-letter{
    color:crimson;
}

#soin .container-soin{
    width: 90%;
    margin: 100px auto;
    min-height: 800px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

#soin .container-soin .soin-card{
    width: 30%;
    min-height: 350px;
    background-color: #333;
    box-shadow: 2px 3px 10px black;
}

#soin .container-soin .soin-card:hover{
    box-shadow: 4px 6px 20px black;
    transition : 0.2s;
}

#soin .container-soin .soin-card .soin-card-img{
    height: 60%;
    width: 100%;
}

#soin .container-soin .soin-card .soin-card-img img{
    width: 100%;
    height: 100%;
}

#soin .container-soin .soin-card .soin-card-desc{
    height:25%;
    width: 100%;
    padding:10px 10px 2px 10px;
}

#soin .container-soin .soin-card .soin-card-desc p{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 15px;
    color:white;
    text-align: center;
}

#soin .container-soin .soin-card .soin-card-price{
    width: 100%;
    height: 15%;
    text-align: center
    ;border-top: 1px solid black;
}

#soin .container-soin .soin-card .soin-card-price .price{
    color:white;
    line-height: 52.5px;
}

@media screen and (max-width:900px){

    #soin h3{
        font-size: 1.5rem;
    }

    #soin .container-soin .soin-card{
        width: 50%;
    }
    
}

@media screen and (max-width:650px){

    #soin h3{
        font-size: 1.5rem;
    }

    #soin .container-soin .soin-card{
        width: 80%;
    }
    
}

/********************CONTACT******************/

#contact{
    padding: 40px 0px 20px 0px;
}

.contact h4{
    font-size: 2.2rem;
    text-align: center;
    margin: 40px 0px
}

.contact h4::first-letter{
    text-transform: uppercase;
    color: crimson;
}

.formulaire{
    width: 90%;
    min-width: 320px;
    height:auto;
    margin:0 auto;
    padding:15px;
    font-family: inherit;
}

label,input,textarea{
    display:block;
    padding:15px 0px;
    width: 100%;
    outline:none;
    border:none;
}

label{
    font-size:1.1rem;
}

input{
    border-bottom:1px solid black;
}

textarea{
    border:1px solid black;
    margin: 15px 0px;
    height:200px;
    width: 100%;
    resize: none;
}

.contact .btn-contact{
    width: 40%;
    padding:10px 15px;
    font-size:1.2rem;
    background-image: linear-gradient(to right, transparent 50%, #333 50% );
    background-size: 200%;
    border-radius: 8px;
    border:1px solid black;
    margin: 0 auto;
    cursor: pointer;
    transition: background 0.4s linear;
}

.contact .btn-contact:hover{
    background-position: 100%;
    color:white;
}

@media screen and (max-width: 900px){
    .contact .btn-contact{
        width: 40%;
        padding:10px 15px;
        font-size:1rem;
}
}

/*****************FOOTER**************************/

#footer{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding:15px 10px;
    min-height: 100px;
    background-color: #333;
    color:white;
}

#footer .footer-left{
    flex-basis: 50%;
    text-align: center;
}

#footer .footer-middle{
    display:flex;
    flex-direction: column;
    flex-basis: 25%;
    gap: 10px;
}

#footer .footer-right{
    display:flex;
    flex-basis: 25%;
    flex-direction: column;
    gap: 10px;
}

#footer .footer-middle a,
#footer .footer-right a{
    color:white;
}

@media screen and (max-width: 900px){
    #footer{
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }
    #footer .footer-left,
    #footer .footer-middle,
    #footer .footer-right{
        flex-basis: 100%;
        margin:20px 0px;
    }

    #footer .footer-right{
        margin-left : -76px;
    }
}

